<!DOCTYPE html>
<html>

<head>
    <title>One Word Story</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <div id="main">
        <h1>One Word Story</h1>
        <form action="/add_word" method="POST">
            <input type="text" name="word" id="wordInput" placeholder="Enter a word" required>
            <button type="submit">Add Word</button>
        </form>
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <h2>Story So Far:</h2>
        <p>
            {% for word in words %}
            {{ word[0] }}{% if not loop.last %} {% endif %}
            {% endfor %}
        </p>
        <script>
            document.getElementById('wordInput').focus();
        </script>
    </div>
</body>

</html>
