<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story for {{ month_year }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Story for {{ month_year }}</h1>
    <div class="story">
        <ul>
            {% for word in words %}
            {{ word[0] }}{% if not loop.last %} {% endif %}
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('index') }}">Back to Main Page</a>
</body>
</html>
